<div class="yellow-box">
  <h6> Payment </h6>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="form-login">
        <% @basket.choices.each do |choice| %>
        <ul>
          <li><%= choice.quantity %> x <%= choice.meal.description %> = <%= choice.price %>€</li>
        </ul>
        <% end %>
        <h4 class="text-center">Your food is waiting for you here: <br><br><em><%= @basket.truck.address.street_address %></em></h4>
      </div>
    </div>
  </div>
</div>
<br>
<div id="map-show" style="width: 100vw; height: 50vh;"></div>

<% content_for(:after_js) do %>
<script>
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: { id: 'map-show' } }, function() {
    markers = handler.addMarkers(<%= raw @marker.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    if (markers.length == 0) {
      handler.getMap().setZoom(2);
    } else if (markers.length == 1) {
      handler.getMap().setZoom(14);
    }
  });
</script>
<% end %>
