<div class="yellow-box">
  <h5> Payment </h5>
</div>
<div class="col-xs-12 col-md-6 col-md-offset-3">
<div class="message">
  <div class="img-name">
    <% if @basket.truck.photos.any? %>
    <%= cl_image_tag  @basket.truck.photos.first.path, class: "avatar" %>
    <% else %><%= image_tag "streetsurfer-foodtruck.jpg", class: "avatar " %>
    <% end %>
    <div class="message-name">
      <h3><%= @basket.truck.name %></h3>
    </div>
  </div>
  <div class="message-body">
    <p><strong>Order:</strong></p>
  </div>
  <div class="message-body">
    <% @basket.choices.each do |choice| %>
    <div><%= choice.quantity.to_s+": "+choice.meal.description %></div>
    <% end %>
  </div>
    <div class="message-body">
    <p class="price"><%= @basket.total_price %>€</p>
  </div>
</div>
    <h5 class="text-center">Pick up your food in <%= [5, 10, 15].sample %> minutes here:
      <br><br>
      <em>
        <%= link_to "https://www.google.com/maps/search/" + @basket.truck.address.street_address + @basket.truck.address.city, class: "btn btn-danger", target: :blank do %>
        <%= @basket.truck.address.street_address %>, <%= @basket.truck.address.city %>
        <% end %>
        </em>
      </h5>
</div>


<div id="map-show" style="width: 100vw; height: 50vh;"></div>

<% content_for(:after_js) do %>
<script>
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: { id: 'map-show' } }, function() {
    markers = handler.addMarkers(<%= raw @marker.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    if (markers.length == 0) {
      handler.getMap().setZoom(2);
    } else if (markers.length == 1) {
      handler.getMap().setZoom(14);
    }
  });
</script>
<% end %>
