<h1>Addresses</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <% @truck.addresses.each do |address| %>
        <%= address.street_address %>
        <%= address.street_address_2 %>
        <%= address.city %>
        <%= address.zipcode %>
        <%= address.more_info %>

      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for [@truck, @address] do |f| %>
        <%= f.input :street_address %>
        <%= f.input :street_address_2 %>
        <%= f.input :city %>
        <%= f.input :zipcode %>
        <%= f.input :country, as: :country, only: ["FR", "ES", "RO", "DZ"] %>
        <%= f.input :more_info %>
        <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
