<h1>Homepage</h1>



<%= render 'shared/banner' %>
<div class="container">
  <div class="row">
    <ul>
      <% @trucks.each do |truck| %>
      <li>
        <p><%= link_to truck.name, truck_path(truck) %></p>
        <% truck.photos.each do |photo| %>
          <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
        <% end %>
        <p><%= truck.type_of_food %></p>
      </li>
        <%= link_to "Delete", truck_path(truck),
      method: :delete,
      data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        <%= link_to "Edit", owner_truck_path(truck), class: "btn btn-warning" %>
        <%= link_to 'Add a meal', owner_truck_path(truck), class: "btn btn-success" %>
        <%= link_to 'Add a location', owner_truck_path(truck), class: "btn btn-primary" %>
        <%= link_to 'Add a calendar', owner_truck_path(truck), class: "btn btn-info" %>
      <% end %>
    </ul>
  </div>
</div>
