<h1>Here are all the trucks</h1>


<div class="container">
  <div class="row">
    <ul>
      <% @trucks.each do |truck| %>
      <li>
        <p><%= link_to truck.name, truck_path(truck) %></p>
        <p><%= truck.type_of_food %></p>
      </li>
      <%= link_to "Delete", truck_path(truck),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
      <%= link_to "Edit", edit_truck_path(truck), class: "card-link" %>
      <% end %>
    </ul>
    <%= link_to 'Add a new truck', new_truck_path, class: "btn btn-warning" %>
  </div>
</div>




