<div class="truck-dashboard">
  <div class="calendar-section">
    <div class="col-xs-12 col-sm-6">
      <div class="content text-center">
        <% @truck.photos.each do |photo| %>
        <%= cl_image_tag photo.path, class:"photo-full-width" if @truck.photos? %>
        <% end %>
        <h2><%= link_to @truck.name, truck_path(@truck) %></h2>
        <div class="footer">
          <br>
          <%= link_to "Check orders", order_owner_truck_path, class: "btn ftft-btn btn-success" %>
          <%= link_to 'Edit', edit_truck_path(@truck), class: "btn ftft-btn btn-warning" %>
          <%= link_to "Delete", truck_path(@truck),
          method: :delete, data: { confirm: "Are you sure?" },class: "btn ftft-btn btn-danger" %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= render "shared/description_calendar" %>
      <%= render "shared/calendar_popin" %>
    </div>
  </div>
</div>

<div class="container meals-section">
  <div class="row">
    <div class="meal-title text-center">
      <h2 class="relative"> Meals
        <button type="button" data-toggle="modal" data-target="#meal" class="meal-class add-button">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </h2>
      <%= render "shared/meal_popin" %>
    </div>
    <% @truck.meals.each do |meal| %>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <%= render partial: "shared/meal_card", locals: { meal: meal, big: true } %>
    </div>
    <% end %>
  </div>
</div>

<div class="locations-section">
  <div class="address-title text-center">
 <h2 class="text-center relative">
 Location
<button type="button"  data-toggle="modal" data-target="#address" class="meal-class add-button">
  <i class="fa fa-plus" aria-hidden="true"></i>
</button>
</h2>
  <%= render "shared/address_popin" %>
 </div>

  <div class="container">
     <div class="row addresses">
        <h3>
          Your locations: (<%= @truck.addresses.length %>)
        </h3>
        <% unless @truck.addresses.length < 1 %>
          <%= render 'shared/description_address', addresses: @truck.addresses, truck: @truck %>
        <% end %>
    </div>
  </div>
</div>



