<div>
  <%= render 'shared/banner_truck', truck: @truck %>
</div>


<div id="map-show" style="width: 100vw; height: 50vh;"></div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <!-- add this inside the banner -->
      <div class="text-center">
        <h2><%= @truck.name %></h2>
        <p><%= @truck.type_of_food %></p>
        <p>We specialise in authentic american burgers cooked and served from a Classic VW Kombi!</p>
      </div>
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h2 class="section-title">Select your meals</h2>
        <div class="meal-list">
          <% @tables.each do |table| %>
            <%= render 'shared/form_meals_list_with_choice', meal: table[:meal], choice: table[:choice] %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="btn-show text-center">
          <% unless @basket.nil? %>
          <%= link_to "Order", truck_basket_path(@truck, @basket), class:"btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>
<script>
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: { id: 'map-show' } }, function() {
    markers = handler.addMarkers(<%= raw @marker.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    if (markers.length == 0) {
      handler.getMap().setZoom(2);
    } else if (markers.length == 1) {
      handler.getMap().setZoom(14);
    }
  });
</script>
<% end %>
