<h1>Truck show</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1><%= @truck.name %></h1>
      <p><%= @truck.type_of_food %></p>
      <% @truck.photos.each do |photo| %>
        <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
      <% end %>
      <br>
      <%= link_to "Edit", edit_truck_path(@truck), class: "btn btn-warning" %>
      <%= link_to 'Back', trucks_path, class: "btn btn-warning" %>
      <%= link_to 'Add a new truck', new_truck_path, class: "btn btn-warning" %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>List of meals</h2>
      <% @truck.meals.each do |meal| %>
        <p><%= meal.description %></p>
          <%= link_to "Add to Basket", truck_choices_path(@truck, @choice) , method: @method %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">

      <%# link_to "order",  %>
    </div>
  </div>
</div>

