<h1>Trucks#show</h1>



<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1><%= @truck.name %></h1>

      <ul>
        <% @trucks.each do |truck| %>
          <li> <%= truck.name %></li>
          <li><%= truck.type_of_food %></li>
          <%= link_to "Delete", truck_path(truck), class: "btn btn-danger", method: :delete  %>
        <% end %>
      </ul>


      <%= simple_form_for [@truck] do |f| %>
        <%= f.input :name %>
        <%= f.input :type_of_food %>
      <%= f.submit "add a truck", class: "btn btn-primary" %>
      <% end %>


      <div class="back">
      <%= link_to 'Back', trucks_path, class: "btn btn-warning" %>
      </div>
    </div>
  </div>
</div>

