<h1>Truck</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1><%= @truck.name %></h1>
        <p><%= @truck.type_of_food %></p>
        <% @truck.photos.each do |photo| %>
          <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
        <% end %>
      <%= link_to 'Back', trucks_path, class: "btn btn-warning" %>
      <%= link_to "Delete", truck_path(@truck),
      method: :delete,
      data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
    </div>
  </div>
</div>

<%= render "meal_form" %>

<%= render "address_form" %>

<%= render "calendar_form" %>

<%= render "calendar_display" %>


