<div class="container">
  <div class="row">

    <div class="col-xs-12 col-md-6">
      <% if user_signed_in? %>

      <h2 class="section-title">Select your meals</h2>
      <div class="meal-list">
        <% @tables.each do |table| %>
        <%= render 'shared/form_meals_list_with_choice', meal: table[:meal], choice: table[:choice] %>
        <% end %>
      </div>
      <% else %>
      <div class="row margin-top">
        <% @truck.meals.each do |meal| %>
        <%= link_to new_registration_registration_path do %>

          <div class="col-xs-12">
            <%= render partial: "shared/meal_card", locals: { meal: meal, big: false } %>
          </div>
       <% end %>
        <% end %>
      </div>
      <% end %>
          <% if user_signed_in? %>

    <div class="btn-show text-center">
      <% if @basket.nil?%>
      <%= link_to "Order (0)", payorder_truck_path(@truck), id:"order-btn", class:"btn btn-primary disabled" %>
      <% else  %>
      <%= link_to "Order (" + @basket.choices.sum(&:quantity).to_s + ")", payorder_truck_path(@truck), id:"order-btn", class:"btn btn-primary" %>
      <% end %>
    </div>

    <% end %>
    </div>
        <div class="col-xs-6">
      <!-- add this inside the banner -->
      <div class="text-center truck-information">
        <% @truck.photos.each do |photo| %>
        <%= cl_image_tag photo.path, class: "photo-full-width" if @truck.photos? %>
        <% end %>
        <h2>
          <%= @truck.name %>
        </h2>
        <p>
          <%= @truck.type_of_food %>
        </p>
        <p>
          <%= @truck.description %>
        </p>
        <div id="map-show" style="width: 100%; height: 300px;"></div>
      </div>

    </div>

  </div>
  <div class="row">
      <div class="col-xs-12">
        <div class="btn-show text-center">
          <% if @basket.nil?%>
            <%= link_to "Order (0)", payorder_truck_path(@truck), id:"order-btn", class:"btn ftft-btn btn-danger disabled" %>
          <% else  %>
            <%= link_to "Order (" + @basket.choices.sum(&:quantity).to_s + ")", payorder_truck_path(@truck), id:"order-btn", class:"btn ftft-btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
</div>


<% content_for(:after_js) do %>
<script>
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: { id: 'map-show' } }, function() {
    markers = handler.addMarkers(<%= raw @marker.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    if (markers.length == 0) {
      handler.getMap().setZoom(2);
    } else if (markers.length == 1) {
      handler.getMap().setZoom(14);
    }
  });
</script>
<% end %>
