<h1>Truck</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1><%= @truck.name %></h1>
        <p><%= @truck.type_of_food %></p>
        <% @truck.photos.each do |photo| %>
          <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
        <% end %>
      <%= link_to 'Back', trucks_path, class: "btn btn-warning" %>
      <%= link_to 'Edit', edit_truck_path(@truck), class: "btn btn-warning" %>
      <%= link_to "Delete", truck_path(@truck),
      method: :delete,
      data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
    </div>
  </div>
</div>

<h1>Meals</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <% @truck.meals.each do |meal| %>
        <%= meal.description %>
        <%= meal.is_vegan ? 'Yes' : 'No' %>
        <%= meal.is_alergen ? 'Yes' : 'No' %>
        <%= meal.is_gluten_free ? 'Yes' : 'No' %>
        <%= meal.is_fat_free ? 'Yes' : 'No' %>
        <%= meal.spicy_scale %>
        <p><%= meal.price %> €</p>
        <%= cl_image_tag meal.photo.path if meal.photo? %>
        <%= link_to "edit meal", edit_truck_meal_path(@truck, meal), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= render "meal_form" %>
    </div>
  </div>
</div>

<h1>Addresses</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <% @truck.addresses.each do |address| %>
        <%= address.street_address %>
        <%= address.street_address_2 %>
        <%= address.city %>
        <%= address.zipcode %>
        <%= address.more_info %>
        <%= link_to "edit address", edit_truck_address_path(@truck, address), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= render "address_form" %>
    </div>
  </div>
</div>

<h1>Calendar</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <ul>
      <% @calendars.each do |calendar| %>
        <li>
        <%= calendar.address.street_address unless calendar.address.nil? %>
        <br>
        <%= calendar.starting_date %>
       <br>
        <%= calendar.ending_date %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= render "calendar_form" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= render "calendar_display" %>
    </div>
  </div>
</div>



