<div id="user-and-basket-info" class="message" data-user-token="<%= current_user.registration.authentication_token %>" data-user-mail="<%= current_user.registration.email %>">
  <div class="img-name">
    <% if basket.user.photo? %>
    <%= cl_image_tag basket.user.photo.path, class: "avatar" %>
    <% else %>
    <%= image_tag basket.user.facebook_picture_url || "user.png", class: "avatar " %>
    <% end %>
    <div class="message-name">
      <h3><%= basket.user.first_name %></h3>
    </div>
  </div>
  <div class="message-body">
    <p><strong>Order:</strong></p>
    <% basket.choices.each do |choice| %>
    <div><%= choice.quantity.to_s+": "+choice.meal.description %></div>
    <% end %>
  </div>
  <div class="message-body">
    <% if basket.status == "pending" %>
      <p id="basket-status" class="status pending"><%= basket.status.capitalize %></p>
    <% elsif basket.status == "accepted" || basket.status == "Payed by Customer" || basket.status == "Accepted by FoodTruck" %>
      <p id="basket-status" class="status accepted"><%= basket.status %></p>
    <% elsif basket.status == "Declined" %>
      <p id="basket-status" class="status declined"><%= basket.status %></p>
    <% end %>
    <p class="price"><%= basket.total_price %>€</p>
  </div>
  <div class="message-buttons">
    <% if basket.status == "pending" %>
      <p class="declined">
          <i class="fa fa-times " aria-hidden="true" data-basket-id="<%= basket.id %>"></i>
        </p>
    <% end %>

    <% if basket.status == "accepted" || basket.status == "Payed by Customer" || basket.status == "Accepted by FoodTruck" || basket.status == "Declined" %>
      <%#= link_to accepted_by_food_truck_truck_basket_path(basket.truck, basket) do %>
        <p class="accepted"><i class="fa fa-check " aria-hidden="true" data-basket-id="<%= basket.id %>"></i></p>
      <%# end %>
      <%#= link_to declined_by_food_truck_truck_basket_path(basket.truck, basket) do %>
        <p class="declined"><i class="fa fa-times " aria-hidden="true" data-basket-id="<%= basket.id %>"></i></p>
      <%# end %>
    <% end %>
  </div>
</div>
