<div class="message">
  <div class="img-name">
    <% if basket.truck.photos.first %>
    <%= cl_image_tag  basket.truck.photos.first.path, class: "avatar" %>
    <% else %><%= image_tag "streetsurfer-foodtruck.jpg", class: "avatar " %>
    <% end %>
    <div class="message-name">
      <h3><%= basket.truck.name %></h3>
    </div>
  </div>
  <div class="message-body">
    <p><strong>Your orders:</strong></p>
    <% basket.choices.each do |choice| %>
    <div><%= choice.quantity.to_s+": "+choice.meal.description %></div>
    <% end %>
  </div>
  <div class="message-status">
    <% if basket.status == "pending" %>
      <p class="status pending"><%= basket.status.capitalize %></p>
    <% elsif basket.status == "confirmed" || basket.status == "Payed by Customer" || basket.status == "Accepted by FoodTruck"%>
      <p class="status accepted"><%= basket.status.capitalize %></p>
    <% elsif basket.status == "Declined by FoodTruck" %>
      <p class="status declined"><%= basket.status.capitalize %></p>
    <% end %>
    <p class="price"><%= basket.total_price %>€</p>
  </div>
  <div class="message-buttons">
    <% if basket.status == "pending" %>
      <%= link_to truck_basket_path(basket.truck, basket) do %>
        <p class="info"><i class="fa fa-info" aria-hidden="true"></i></p>
      <% end %>
      <%= link_to truck_path(basket.truck) do %>
        <p class="accepted"><i class="fa fa-shopping-cart" aria-hidden="true"></i></p>
      <% end %>
      <%= link_to basket_path(basket), method: :delete do %>
        <p class="delete"><i class="fa fa-trash" aria-hidden="true"></i></p>
      <% end %>
    <% end %>
    <% if basket.status == "confirmed" || basket.status == "Payed by Customer" || basket.status == "Accepted by FoodTruck"%>
      <%= link_to payment_status_truck_basket_path(basket.truck, basket) do %>
        <p class="info"><i class="fa fa-info" aria-hidden="true"></i></p>
      <% end %>
    <% end %>
    <% if basket.status == "Declined by FoodTruck"%>
      <%= link_to basket_path(basket), method: :delete do %>
        <p class="delete"><i class="fa fa-trash" aria-hidden="true"></i></p>
      <% end %>
    <% end %>
  </div>
</div>
