<div class="image-meal img-meal-wrapper <%= big ? 'big-image' : 'small-image' %>" style="background-image: url('<%= cl_image_path meal.photo.path %>');">
<% if big == true %>
  <div class="meal-image-actions">
    <%= link_to edit_truck_meal_path(@truck, meal) do %>
    <p class="pencil"><i class="fa fa-pencil" aria-hidden="true"></i></p>
    <% end %>
    <%= link_to meal_path(meal), method: :delete, data: { confirm: "Are you sure?" } do %>
    <p class="delete"><i class="fa fa-times" aria-hidden="true"></i></p>
    <% end %>
  </div>
 <% end %>
</div>

<div class="meal-information">
  <div class="title">
    <h4><%= meal.description%> </h4>
  </div>

  <span class="price">
    € <%= meal.price %>
  </span>

  <div class="tags">
    <% if meal.is_vegan %>
    <span class="label-green">
      Vegan
      </span>
    <% end %>

    <% if meal.is_alergen %>
    <span class="label-green">
      Alergen friendly
    </span>
    <% end %>

    <% if meal.is_gluten_free %>
    <span class="label-green">
      Gluten free
    </span>
    <% end %>

    <% if meal.is_fat_free %>
    <span class="label-green">
      Fat free
    </span>
    <% end %>
  </div>

  <div class="spicy-scale">
    <% if meal.spicy_scale %>
      <% meal.spicy_scale.times do %>
        <%= image_tag 'chilli.svg' %>
      <% end %>
    <% end %>
  </div>
</div>

