



<tr>
  <td>
    <div class="img-container">
      <% if meal.photo? %>
        <%= cl_image_tag meal.photo.path, class:"avatar" %>
      <% else %>
        <%= image_tag 'streetsurfer-foodtruck.jpg', class:"avatar" %>
      <% end %>
    </div>
  </td>
  <td class="td-name">
   <h4><%= meal.description %></h4>
 </td>

 <td class="td-number">
  <small><%= meal.price %></small>€
</td>

<td>
  <div class="img-container">
    <%= render 'meals/form', truck: @truck, choice: choice %>
  </div>
</td>
</tr>


