<div class="meal-card-wrapper">

  <div class="meal-img-container">
    <% if meal.photo? %>
      <%= cl_image_tag meal.photo.path, class:"avatar" %>
    <% else %>
      <%= image_tag 'streetsurfer-foodtruck.jpg', class:"avatar" %>
    <% end %>
  </div>

  <div class="meal-description">
   <h4><%= meal.description %></h4>
  </div>

  <div class="price-chooser-wrapper">
    <div class="meal-price">
      <small><%= meal.price %></small>€
    </div>
    <div class="meals-form-wrapper">
      <%= render 'meals/form', truck: @truck, choice: choice %>
    </div>
  </div>

</div>


