  <div class="truck-card">
    <%= link_to truck_path(truck), class: "card-link" do %>
    <div class="image card" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%=cl_image_path truck.photos.first.path, height: 300, width: 400, crop: :fill unless truck.photos.first.nil? %>')">
    </div>
    <div class="content">
      <%= link_to truck.name, truck_path(truck), class: "title" %>
      <div class="footer">
        <!-- TODO: what should we add here? -->
        <div class="info pull-left">
          <%= truck.type_of_food %>
        </div>
        <div class="pull-right">
          <!-- TODO: implement dynamic likes -->
          <%= link_to truck_path(truck), class: "card-link" do %>
          <i class="fa fa-cutlery"></i>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
